<html>
<body>

<h1 style="display: flex;
justify-content: center;">Welcome to the abc Company.</h1>


<form action="#",method="POST">

<li style="margin:0 0 10px 75%">
	<a href="{{ url_for('/add') }}">
   <button>add</button>
</a>
</li>
<li style="margin:0 0 10px 75%">
	<a href="/update">
   <button>update</button>
</a> </li>
<li style="margin:0 0 10px 75%">
	<a href="/delete">
   <button>delete</button>
</a></li>
<li style="margin:0 0 10px 75%">
	<a href="/add_admin">
   <button>Add Admin</button>
</a></li>
<li style="margin:0 0 10px 75%">
	<a href="/delete_admin">
   <button>Delete Admin</button>
</a></li>

</form>
</body>
</html>