<html>
    <body>
    <h1 style="display: flex;
    justify-content: center;">Enter the new values</h1>
    
    <ul style="margin:0 25% 0 25%">
    <form action="#",method="POST">
    
    <li style="margin:0 0 10px 0">
        <labeL> Username</label>
       <input type="input",name="username"></input>
    </li>
    <li style="margin:0 0 10px 0">
        <labeL> User_Password</label>
        <input type="input",name="update"></input> </li>
        <input type="submit" value="add_admin" style="margin:0 25% 0 25%"> </input>
    </form>
    </ul>
</body>
</html>