<html>
<body>

<h1 style="display: flex;
justify-content: center;">Enter the new values</h1>

<ul style="margin:0 25% 0 25%">
<form action="#",method="POST">

<li style="margin:0 0 10px 0">
	<labeL> name</label>
   <input type="input",name="update"></input>
</li>
<li style="margin:0 0 10px 0">
	<labeL> name</label>
    <input type="input",name="update"></input> </li>
<li style="margin:0 0 10px 0">
	<labeL> name</label>
    <input type="input",name="update"></input></li>
    <input type="submit" value="Add" style="margin:0 25% 0 25%"> </input>
</form>
</ul>

</body>

</html>